<html>
<head>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</head>
  <body>
      <div class="jumbotron text-center bg-Secondary">
       <h><i><font size="8" color="White">My REgistration</font></i></h>
       </div>
       <center>
  <form name="MY Form" action="">
  <br>User Name: <input type="text"name="username"></br>
  <br>Password: <input type="password" name="password"></br>
  <br><input type="submit"name="button1"value="login"></br>
  <% if @j == "true" %>
  <%= redirect_to 'https://www.w3schools.com/tags/att_font_color.asp' %>
   <%= "authenticate" %>
  <% else %>
    <%#= " not authenticate" %>
    <% end %>
  </form>
  </center>
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>

  </body>
</html>